<div cclass="card border-primary mb-3">
    <div class="card-header">Tarjetas</div>
    <div class="card-body">
        <h5 class="card-title">Tarjetas activas</h5>

        <table class="table table-bordered table-striped">

            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titular</th>
                    <th>Entidad</th>
                    <th>Numero</th>
                    <th>Fecha Cauducidad</th>
                    <th>Marca</th>
                    <th>CVV</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let tarjeta of tarjetas">
                    <td>{{ tarjeta.id }}</td>
                    <td>{{ tarjeta.nombreTitular}}</td>
                    <td>{{ tarjeta.nombreEntidad}}</td>
                    <td>{{ tarjeta.numeroTarjeta}}</td>
                    <td>{{ tarjeta.cvv}}</td>
                    <td>{{ tarjeta.fechaCaudicidad}}</td>
                    <td>{{ tarjeta.marca}}</td>
                </tr>
            </tbody>
        </table>


    </div>
</div>